<% wrap_layout :layout do %>
	<div class="article">
		<% if current_article.data.image %>
			<%= image_tag(current_article.data.image, alt: current_page.title) %>
		<% end %>
		<h1 class="title"><%= current_page.title %></h2>
	    <h2 class="byline">By Alex Baldwin • <%= current_page.date.strftime('%B %e, %Y') %></h3>
	    <section>
	    	<%= yield %>
	    </section>

	    <%= link_to '&larr; Articles', '#', class: 'article-link' %>
	</div>

	<script type="text/javascript">
	analytics.track('Read an article', {
    	article        : <%= current_page.title %>,
	});
</script>

<% end %>
