<% wrap_layout :layout do %>
	<div class="article">
		<% if current_article.data.image %>
			<%= image_tag(current_article.data.image, alt: current_page.title) %>
		<% end %>
		<h1 class="title"><%= current_page.title %></h2>
	    <h2 class="byline">By Alex Baldwin • <%= current_page.date.strftime('%B %e, %Y') %></h3>
	    <section>
	    	<%= yield %>
        </section>
        <section>
        <div id="mc_embed_signup">
          <form action="http://alexbaldwin.us7.list-manage.com/subscribe/post?u=772a21ec21a471387f298f0ab&amp;id=cd91fde308" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div class="mc-field-group">
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>  <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </form>
        </div>
        </section>

	    <%= link_to '&larr; Articles', '/archive', class: 'article-link' %>
	</div>

	<script type="text/javascript">
	analytics.track('Read an article', {
    	article        : <%= current_page.title %>,
	});
</script>

<% end %>
