<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Baldwin Home Movies</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,800' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag 'normalize' %>
        <%= stylesheet_link_tag 'labs/christmas' %>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

      <header class="p4 bg-red bg-christmas">
        <div class="wrapper">
          <h1 class="white caps huge">
            Baldwin<br>
            Home<br>
            Movies
          </h1>
        </div>
      </header>

      <section>
        <div class="wrapper px2">
          <div class="py4">
            <h2>Merry Christmas!</h2>
            <p>
              We've put together a whirlwind of nostalgia for you. Over the years, we've documented hundreds of hours of embarassing footage. This timeline represents the best, most quotable and adorable moments.
            </p>
            <p>
              This page and all the videos contained are private and only sharable to those that have a link to the page. If we missed anyone who would also love to see these amazing moments, please email them a link.
           </p>
          </div>

          <% family_videos[0..10].each do |video| %>

            <article class="py2">
              <iframe width="760" height="570" src="<%= video.media_content.first.try(:url) %>" frameborder="0" allowfullscreen></iframe>
              <h2><%= video.try(:title) %></h2>
              <p><%= video.try(:description) %></p>
            </article>

          <% end %>

        </div>
      </section>
      <footer class="bb">
        <div class="wrapper p4">
          <p>
            <span class="gray">Director — </span>Leslie Baldwin<br>
            <span class="gray">Cameraman — </span>Dave Baldwin<br>
            <span class="gray">Editor — </span>Tyler Baldwin<br>
            <span class="gray">Website — </span>Alex Baldwin
          </p>
          <p>
            <small>
              Are we missing something? <%= mail_to 'alexbaldwin@gmail.com', 'Send your piece of family history treasure' %>.
            </small>
          </p>
        </div>
        <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js', '//cdnjs.cloudflare.com/ajax/libs/fitvids/1.0.1/jquery.fitvids.min.js' %>
        <script>
          $(document).ready(function(){
            $(".wrapper").fitVids();
          });
        </script>
    </body>
</html>
