%h1 About
%figure
  = image_tag("exposure-meetup.jpg", alt: 'Alex Baldwin')
  %figcaption Photo by Luke Beard
.prose
  %p
    <em>Why hello there</em>, I'm Alex Baldwin, a product designer, a co-creator of #{link_to 'Hack Design', 'http://hackdesign.org'}, and founder of #{link_to 'Console.fm', 'http://console.fm'}. I live and work in San Francisco, California.
  %p
    Previously I've worked as a designer-in-residence with Techstars and 500 Startups running design sessions, prepping pitch decks, and shipping an insane amount of landing pages. My focus is in product design (a combination of user interface, interaction, marketing, and graphic design), however, when I'm not doing that, you can find me climbing nature, disc jockeying, drinking lattes, or possibly cartwheeling.
.col.col-6
  %h4 Projects
  %ul.list-reset.mid-gray
    %li
      #{link_to "Taco Week", "//tacoweek.org"}
      %br
      November 2014
    %li
      #{link_to "Rave Robot", "//raverobot.com"}
      %br
      October 2014
    %li
      #{link_to "Latte Up", "//latteup.com"}
      %br
      March 2014
    %li
      #{link_to "Hack Design", "//hackdesign.org"}
      %br
      December 2012
.col.col-6
  %h4 Published
  %ul.list-reset.mid-gray
    %li
      #{link_to 'Product Psychology: Lesson 11', 'http://www.productpsychology.com/lesson-11-developing-user-empathy-with-design-sprints/'}
      %br
      December 2014
    %li
      #{link_to 'Product Hunt Radio: Episode 7', 'https://soundcloud.com/product-hunt/product-hunt-radio-episode-7-w-nathan-bashaw-alex-baldwin'}
      %br
      March 2014
