%article.about
  = image_tag('underwater-alex-baldwin.jpg', alt: 'Alex Baldwin')
  %p
    Why hello there, I'm Alex Baldwin, a designer at #{link_to 'thoughtbot', 'http://thoughtbot.com'}, a co-creator of #{link_to 'Hack Design', 'http://hackdesign.org'}, and founder of #{link_to 'Console.fm', 'http://console.fm'}. I live and work in San Francisco, California.
  %p
    Previously I've worked as a designer-in-residence with Techstars and 500 Startups running design sessions, prepping pitch decks, and shipping an insane amount of landing pages. My focus is in product design (a combination of user interface, interaction, marketing, and graphic design), however, when I'm not doing that, you can find me climbing nature, #{link_to 'disc jockeying', 'http://soundcloud.com/alexbaldwin'}, drinking lattes, or possibly cartwheeling.
  %h4.caps.regular.small.mid-gray Elsewhere
  %ul.p
    %li #{link_to 'Twitter', '//twitter.com/alexbaldwin'}
    %li #{link_to 'Dribbble', '//dribbble.com/alexbaldwin'}
    %li #{link_to 'Github', '//github.com/alexbaldwin'}
    %li #{link_to 'Soundcloud', '//soundcloud.com/alexbaldwin'}
