- page_articles.each_with_index do |article, i|
  %section.mb3
    - if article.data.external?
      %h3.regular= link_to "#{article.title} →", article.data.external
    - else
      %h3.regular= link_to article.title, article
    %p
      = truncate(strip_tags(article.summary), length: 140)
      %br
      %span.small.light-gray= article.date.strftime('%B %e, %Y')
