%header.mb4.mt4
  %h1.h1.regular.mb1
    Alex Baldwin
  %h2.h4.m0.sans-serif.caps.strong Product Designer at Envoy
%section.mb3
  %h3.sans-serif.h5.caps.regular About
  %p
    Why hello there, I'm Alex Baldwin, I live and work in San Francisco, California.
  %p
    Previously I've worked as a designer-in-residence with
    Techstars and 500 Startups running design sessions,
    prepping pitch decks, and shipping an insane amount of
    landing pages. My focus is in product design (a
    combination of user interface, interaction, marketing, and
    graphic design), however, when I'm not doing that, you can
    find me climbing nature, disc jockeying, drinking lattes, or
    possibly cartwheeling.
%section.mb3
  %h3 Work
  %ul
    %li #{link_to 'Envoy', '//signwithenvoy.com'}, elegantly greet office visitors.
    %li #{link_to 'Hack Design', '//hackdesign.org'}, an introductory design course.
    %li #{link_to 'Simple Casual', '//simplecasual.com'}, a company about nothing.
%section.mb3
  %h3.sans-serif.h5.caps.regular Writing
  %ul
    %li #{link_to 'Working with Design Sprints', '/qcon-2014'}
    %li #{link_to 'Goldeneye 64\'s inspirational startup story', '/goldeneye'}
%section.mb2
  %h3.sans-serif.h5.caps.regular Music
  %ul
    %li #{link_to 'Crossfire - Space Hips Mixtape', 'https://www.youtube.com/watch?v=EL9MxZhJjEg'}
    %li #{link_to 'Ragemas - Black Tie // White Dress', 'https://vimeo.com/113954299'}
    %li #{link_to 'Brunch Club Mixes', 'https://soundcloud.com/alexbaldwin'}
%hr
%section.mb3
  %h3.sans-serif.h5.caps.regular Elsewhere
  %ul
    %li #{link_to 'Twitter', '//twitter.com/alexbaldwin'}
    %li #{link_to 'Github', '//github.com/alexbaldwin'}
    %li #{link_to 'Angel List', '//angel.co/alexbaldwin'}
