.index
  = image_tag('alexbaldwin-avatar.jpg', class: 'pull-right avatar', alt: 'Alex Baldwin at Elepath #2. Photo Credit: Luke Beard')
  %h1 Dare to be naïve.
  %h2
    Alex Baldwin
    %span 
      Designer at
      = link_to 'thoughtbot', '//thoughtbot.com', alt: 'Expert designers and developers who turn your idea into the right product, thoughtbot'
  %p I built my first website when I was 14 in exchange for a season pass to my local ski hill. It took over a month of trial and error in Notepad, was a mess of table cells, and took minutes to upload via FTP. It was glorious piece of internet. I like to think I've gotten better since then.
  %section.break
    %article.third
      %h3 Work
      %ul.list
        %li= link_to 'Hire me', '//thoughtbot.com/#new-project'
        %li= link_to 'Ask a question', '//clarity.fm/alexbaldwin'
    %article.third
      %h3 Contact
      %ul.list
        %li= mail_to 'alexbaldwin@gmail.com', 'Email'
        %li= link_to 'Twitter', '//twitter.com/alexbaldwin'
    %article.third
      %h3 Elsewhere
      %ul.list
        %li= link_to 'Hack Design', '//hackdesign.org/lesson/28/'
