%section.mb3
  %h3.sans-serif.h5.caps.regular Work
  %ul
    %li #{link_to 'Envoy', 'https://envoy.com'}, elegantly greet office visitors.
    %li #{link_to 'Simple Casual', 'http://simplecasual.com'}, a company about nothing.
%section.mb3
  %h3.sans-serif.h5.caps.regular Writing
  %ul
    %li #{link_to 'Working with Design Sprints', '/qcon-2014'}
    %li #{link_to 'Goldeneye 64\'s inspirational startup story', '/goldeneye'}
%section.mb2
  %h3.sans-serif.h5.caps.regular Featured
  %ul
    %li #{link_to 'Product Psychology: Lesson 11', 'http://www.productpsychology.com/lesson-11-developing-user-empathy-with-design-sprints/'}
    %li #{link_to 'Product Hunt Radio: Episode 7', 'https://soundcloud.com/product-hunt/product-hunt-radio-episode-7-w-nathan-bashaw-alex-baldwin'}
%section.mb2
  %h3.sans-serif.h5.caps.regular Music
  %ul
    %li #{link_to 'Crossfire - Space Hips Mixtape', 'https://www.youtube.com/watch?v=EL9MxZhJjEg'}
    %li #{link_to 'Ragemas - Black Tie // White Dress', 'https://vimeo.com/113954299'}
    %li #{link_to 'Brunch Club Mixes', 'https://ruby.fm/alexbaldwin'}
