%section.py2
  %h1.h2.regular.m0 Alex Baldwin
  %h2.caps.small.light-gray.regular Designer

%section
  %h3.p.caps.regular.light-gray.crossbar Products
  %p.p.mb2
    #{link_to 'Dripstr', '//dripstr.com'} is a directory of indie coffee shops in Austin. Find the best cup of coffee near you.
    %span.light-gray.small April 2014

  %p.p.mb2
    #{link_to 'Hack Design', '//hackdesign.org'} Introduction to design course for beginners. Hack Design sends students weekly curated lessons by top designers coveraging a broad range of topics. With #{hack_design_users} design aspirants.
    %span.light-gray.small January 2013

  %p.p.mb2
    #{link_to 'Console.fm', '//console.fm'} Top charts for electronic dance music. Console.fm sorts through weekly DJ charts to surface the top and upcoming hottest tracks. Over 130,000 listeners.
    %span.light-gray.small July 2011

%section
  %h3.p.caps.regular.light-gray.crossbar About
  %p
    Why hello there, I'm Alex Baldwin, I live and work in San Francisco, California.
  %p
    Previously I've worked as a designer-in-residence with
    Techstars and 500 Startups running design sessions,
    prepping pitch decks, and shipping an insane amount of
    landing pages. My focus is in product design (a
    combination of user interface, interaction, marketing, and
    graphic design), however, when I'm not doing that, you can
    find me climbing nature, disc jockeying, drinking lattes, or
    possibly cartwheeling.
  %h3.p.caps.regular.light-gray.crossbar Elsewhere
  %ul.p
    %li #{link_to 'Twitter', '//twitter.com/alexbaldwin'}
    %li #{link_to 'Dribbble', '//dribbble.com/alexbaldwin'}
    %li #{link_to 'Github', '//github.com/alexbaldwin'}
    %li #{link_to 'Soundcloud', '//soundcloud.com/alexbaldwin'}
