<!doctype html>
<html>
  <head>
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta charset="utf-8">
    <% if current_article %>
      <title><%= "#{current_article.title}" %></title>
      <meta name="description" content="<%= truncate(strip_tags(current_article.summary), length: 150) %>">
      <link rel="canonical" href="<%= "http://www.alexbaldwin.com#{current_article.url}" %>">
      <meta name="twitter:card" content="summary">
      <meta property="twitter:creator" content="alexbaldwin">
      <meta name="og:type" content="article">
      <meta name="og:title" content="<%= truncate(current_article.title, length: 70) %>">
      <meta name="og:image" content="<%= "#{current_article.data.image}" %>">
      <meta name="og:description" content="<%= truncate(strip_tags(current_article.summary), length: 200) %>">
      <meta name="og:url" content="<%= "http://www.alexbaldwin.com#{current_article.url}" %>">
    <% else %>
      <title><%= "Alex Baldwin, Product Designer" %></title>
      <meta name="description" content="Alex Baldwin, product designer based out of San Francisco. Designer of Console.fm, Latte, Retina Mac Apps, GRID, 500 Startup's Dashboard.io, and many more fun projects.">
    <% end %>
    </title>
    <meta name="generator" content="MiddlemanApp">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="fonts/pika/ss-pika.css">
    <%= stylesheet_link_tag 'app', '//cloud.typography.com/6326032/645982/css/fonts.css' %>
  </head>
  <body>
    <div class="container">
      <header role="author">
        <nav role="navigation">
          <ul>
            <li class='logo'><%= link_to 'Alex Baldwin', '/' %></li>
            <li><%= link_to 'About', '/about' %></li>
            <li><%= link_to 'Products', '/products' %></li>
            <li><%= link_to 'Articles', '/archive' %></li>
          </ul>
        </nav>
        </hgroup>
      </header>
      <article role="main">
        <%= yield %>
      </article>
      <footer>
        <section role="attribution">
          <p>☯ 2005–2013. Direct any questions to my <%= mail_to 'alexbaldwin@gmail.com', 'electronic mail' %>. Keep up with the latest by subscribing to the <%= link_to 'RSS feed', '/feed.xml' %>.</p>
          <a href="https://twitter.com/alexbaldwin" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @alexbaldwin</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </section>
      </footer>
    </div>
  </body>
  <script src="fonts/pika/ss-pika.js"></script>
  <script type="text/javascript">
    var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
    analytics.load("pb64pa11e7");
  </script>
</html>
