<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <% if current_article %>
      <title><%= "#{current_article.title}" %></title>
      <meta name="description" content="<%= truncate(strip_tags(current_article.summary), length: 150) %>">
      <link rel="canonical" href="<%= "http://alexbaldwin.com#{current_article.url}" %>">
      <meta name="twitter:card" content="summary">
      <meta property="twitter:creator" content="alexbaldwin">
      <meta name="og:type" content="article">
      <meta name="og:title" content="<%= truncate(current_article.title, length: 70) %>">
      <meta name="og:image" content="<%= "#{current_article.data.image}" %>">
      <meta name="og:description" content="<%= truncate(strip_tags(current_article.summary), length: 200) %>">
      <meta name="og:url" content="<%= "http://alexbaldwin.com#{current_article.url}" %>">
    <% else %>
      <title><%= "Alex Baldwin, Product Designer" %></title>
      <meta name="description" content="Alex Baldwin, product designer based out of San Francisco. Designer of Console.fm, Latte, Retina Mac Apps, GRID, 500 Startup's Dashboard.io, and many more fun projects.">
    <% end %>
    </title>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag '//cloud.typography.com/6326032/769122/css/fonts.css', 'app' %>
  </head>
  <body>
    <!--[if lt IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <article role="main" class="py2 measure contain wrap px-responsive">
      <%= yield %>
    </article>
    <%#<aside class="mb2 measure wrap px-responsive">
      <form action="http://alexbaldwin.us7.list-manage.com/subscribe/post?u=772a21ec21a471387f298f0ab&amp;id=cd91fde308" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form mb2 form-light" target="_blank" novalidate>
          <input type="email" value="" name="EMAIL" class="input mr1 mb1 mobile-block" id="mce-EMAIL" placeholder="Email">
          <input type="submit" value="Subscribe for updates" name="subscribe" id="mc-embedded-subscribe" class="button button-blue mobile-block">
      </form>
    </aside>%>
  </body>
  <script type="text/javascript">
    var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
    analytics.load("pb64pa11e7");
  </script>
</html>
