<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    
    <title>Alex Baldwin | Product designer</title>
    <meta name="description" content="Alex Baldwin, product designer based out of San Francisco. Designer of Console.fm, Latte, Retina Mac Apps, GRID, 500 Startup's Dashboard.io, and many more fun projects. ">
    <meta name="viewport" content="width=device-width">
    
    <%= stylesheet_link_tag "app" %>    
    
    <script type="text/javascript" src="//use.typekit.net/nhy1tfv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    
    <script type="text/javascript">
      var analytics=analytics||[];analytics.load=function(e){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+e+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);var r=function(e){return function(){analytics.push([e].concat(Array.prototype.slice.call(arguments,0)))}},i=["identify","track","trackLink","trackForm","trackClick","trackSubmit","pageview","ab","alias"];for(var s=0;s<i.length;s++)analytics[i[s]]=r(i[s])};
      analytics.load("pb64pa11e7");
    </script>
  </head>
  <body>
  
    <header>
    <div class="container">
      <p>Howdy, I'm <span><%= link_to "Alex Baldwin", "/" %></span>,
      a product designer in San Francisco. When I'm working, I quite enjoy <a href="http://console.fm">dope beats</a>. I like to <a href="http://latteup.com">talk shop</a> while drinking my morning coffee. Send me an <a href="mailto:alexbaldwin@gmail.com?subject:Howdy">electronic mail</a>, or <a href="http://twitter.com/alexbaldwin">a tweet</a>.</p>
      </div>
    </header>
    
    <div class="container">
      <div id="main" role="main">
        <%= yield %>
      </div>
      
      <aside>
        <a href="https://twitter.com/alexbaldwin" class="twitter-follow-button" data-show-count="true" data-size="large">Follow @alexbaldwin</a>
        
        <h2>Recent Articles</h2>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <section id="<%= article.title %>">
            <div class="post contain">
            <li><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></li>
            </div>
            </section>
          <% end %>
        </ol>
      </aside>
      
      <aside>
        <h2>Dribbble</h2>
        <link href="https://halfcourtshot.googlecode.com/svn/tags/101129.1100/style/half-court-shot.css" rel="stylesheet" type="text/css" />
        <div id="dribbble"></div>
        <script type="text/javascript" src = "https://halfcourtshot.googlecode.com/svn/tags/101129.1100/js/half-court-shot.jsapp.mh.min.js"></script>
        <script type="text/javascript">var hcs = new HalfCourtShot({ jersey: "alexbaldwin", shots: 4, goal: 'dribbble' });</script>
      </aside>
    </div>
      
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </body>
</html>