<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    
    <title><%= data.page.title || "Alex Baldwin" %></title>
    <%= stylesheet_link_tag "app" %>
    
    <script type="text/javascript" src="//use.typekit.net/nhy1tfv.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
  
    <header>
      <span>Howdy, I'm</span>
      <h1><a href="http://www.alexbaldwin.com/">Alex Baldwin</a></h1>
      <p>a product designer in San Francisco. When I'm working, I quite enjoy <a href="http://console.fm">dope beats</a>. I like to <a href="http://latteup.com">talk shop</a> while drinking my morning coffee. Send me an <a href="mailto:alexbaldwin@gmail.com?subject:Howdy">electronic mail</a>, or <a href="http://twitter.com/alexbaldwin">follow my quips</a>.</p> 
    </header>
    
    <div id="container">
      <div id="main" role="main">
        <%= yield %>
      </div>
      
      <aside>
        <h2>Recent Articles</h2>
        <ol>
          <% blog.articles[0...10].each do |article| %>
            <section id="<%= article.title %>">
            <div class="post contain">
            <li><a href="<%= article.url %>"><%= article.title %></a> <span><%= article.date.strftime('%b %e') %></span></li>
            </div>
            </section>
          <% end %>
        </ol>
      </aside>
    </div>
  </body>
</html>
