<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% if current_article %>
      <title><%= "#{current_article.title}" %></title>
      <meta name="description" content="<%= truncate(strip_tags(current_article.summary), length: 150) %>">
      <link rel="canonical" href="<%= "http://alexbaldwin.com#{current_article.url}" %>">
      <meta name="twitter:card" content="summary">
      <meta property="twitter:creator" content="alexbaldwin">
      <meta name="og:type" content="article">
      <meta name="og:title" content="<%= truncate(current_article.title, length: 70) %>">
      <meta name="og:image" content="<%= "#{current_article.data.image}" %>">
      <meta name="og:description" content="<%= truncate(strip_tags(current_article.summary), length: 200) %>">
      <meta name="og:url" content="<%= "http://alexbaldwin.com#{current_article.url}" %>">
    <% else %>
      <title><%= "Alex Baldwin, Product Designer" %></title>
      <meta name="description" content="Alex Baldwin, product designer based out of San Francisco. Designer of Console.fm, Latte, Retina Mac Apps, GRID, 500 Startup's Dashboard.io, and many more fun projects.">
    <% end %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag "//cloud.typography.com/6326032/747646/css/fonts.css", "basscss.min", "app" %>
  </head>
  <body>
    <div class="mb2 border-bottom">
      <nav class="container p2">
        <div class="clearfix">
          <%= link_to "Alex Baldwin, Designer", "/", class: "dark-gray mr2" %>
          <span class="right">
            <%= link_to "Articles", "/articles", class: "mid-gray mr2" %>
            <%= link_to "About", "/about", class: "mid-gray" %>
          </span>
        </div> 
      </nav>
    </div>
    <article role="main" class="container px2">
      <%= yield %>
    </article>
    <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-24725855-1');ga('send','pageview');
    </script>
  </body>
</html>
