%h1 Learn Design
%p Getting going in digital design is really hard. It's a broad field with a lot of moving parts to get started. The following is a crash course.

%h2 Recommended reading
%p
  Here's a library to outline getting started with digital product design. Acting holistically requires us
  = link_to 'to think differently', 'http://www.smashingmagazine.com/2013/08/22/designing-for-digital-products/'
  about the role we play as designers.

%h3 Humble beginnings in product design
%p Before jumping in the deep end, let's start with some simple definitions and processes.
%ul
  %li= link_to 'What is Product Design?', 'https://medium.com/minimum-viable-product/9709572cb3ff'

%h3 Getting better
%p Now that you have the fundamentals down, let's go through the loop of getting experience and making our products better.
%ul
  %li=link_to 'How does one become a better product designer?', 'http://www.quora.com/How-does-one-become-a-better-product-designer'

%h3 Designing in the browser
%p Digital product design is different because our raw materials are free and it's possible to go full-stack and implement solutions yourself.
%ul
  %li= link_to 'Designing in the Browser Faster', 'https://medium.com/design-goodies/bd413d2bc4f3'

%h3 Case studies
%p Learn by example of how others went through to full loop of challenge to success.
%ul
  %li= link_to 'Codecademy', 'https://medium.com/webicratic-insights/1ebd994e2c08'

%h3 Working as a product designer
%p Getting a job and keeping it, while improving design at an organization.
%ul
  %li
    = link_to '7 Reasons to No-Hire a Product Designer', 'https://medium.com/the-year-of-the-looking-glass/95cf34a851af'

%h2 Jobs for product designers
%p These companies are hiring brilliant people like yourself for holistic design roles.
%ul
  %li= link_to 'Change.org', 'http://www.change.org/careers/ed83ed6a-005c-40a4-ad22-30e5ba7a389f'
  %li= link_to 'Disqus', 'http://boards.greenhouse.io/disqus/jobs/3646?t=sw46qk'
  %li= link_to 'Kickstarter', 'https://www.kickstarter.com/jobs/product-designer'
  %li= link_to 'Lyft', 'https://jobs.lever.co/lyft/315e22c7-2f2d-4027-981a-62b3f8eb9e5c'
  %li= link_to 'NPR', 'https://careers-npr.icims.com/jobs/1897/visual-product-designer/job'
  %li= link_to 'Palantir', 'https://www.palantir.com/careers/OpenPosDetail?id=a0m80000000iQpMAAU'
  %li= link_to 'Quora', 'http://www.quora.com/careers/product_designer'
  %li= link_to 'edx', 'https://www.edx.org/job/ux-designer'
