%article.products
	%section.product
		= link_to 'http://hackdesign.org' do
			%h3 Hack Design
			%p Intro to design course for engineers.
			%p.stat 72,000 students

	%section.product
		= link_to 'http://latteup.com' do
			%h3 Latte Up
			%p Group chat for casual people.
			%p.stat 300 chatters

	%section.product
		= link_to 'http://cardlessapp.com' do
			%h3 Cardless
			%p Share contact information effortlessly.
			%p.stat Coming soon

	%section.product
		= link_to 'http://retinamacapps.com' do
			%h3 Retina Mac Apps
			%p App store of retina-ready apps for OSX.
			%p.stat 3,200 referrals

	%section.product
		= link_to 'http://dashboard.io' do
			%h3 Dashboard
			%p Don't build your business in the dark.
			%p.stat 400 companies

	%section.product
		= link_to 'http://console.fm' do
			%h3 Console.fm
			%p Top 100 charts for electronic music.
			%p.stat 132,000 listeners

	%section.product.dead
		= link_to 'http://dribbble.com/alexbaldwin/projects/54491-Nosegrind' do
			%h3 Nosegrind
			%p Automated Rails deployment

	%section.product.dead
		= link_to 'http://helloworld.im' do
			%h3 Hello World
			%p Developer portfolio pages.

	%section.product.dead
		= link_to 'http://dribbble.com/alexbaldwin/projects/595-Grid' do
			%h3 Grid
			%p Inbound sales call tracking.

	%section.product.dead
		= link_to 'http://freetestbank.com' do
			%h3 Free Testbank
			%p College exam database
