<article class="products">

	<section>
		<%= link_to 'Moody Board', 'http://moodyboard.com' %>
		<p>Vision boards for fickle curators.</p>
	</section>

	<section>
		<%= link_to 'Hack Design', 'http://hackdesign.org' %>
		<p>Intro to design course for engineers.</p>
	</section>

	<section>
		<%= link_to 'Latte', 'http://latteup.com' %>
		<p>Group chat for casual people.</p>
	</section>

	<section class="dead">
		<%= link_to 'Cardless', 'http://cardlessapp.com' %>
		<p>Send business cards with your phone.</p>
	</section>

	<section>
		<%= link_to 'Retina Mac Apps', 'http://retinamacapps.com' %>
		<p>App store of retina-ready apps for OSX.</p>
	</section>

	<section class="dead">
		<%= link_to 'Nosegrind Rails', 'http://railsgrind.com' %>
		<p>Deploy Ruby on Rails apps with one click.</p>
	</section>

	<section>
		<%= link_to 'Console.fm', 'http://console.fm' %>
		<p>Top 100 genre charts for electronic music.</p>
	</section>

	<section class="dead">
		<%= link_to 'Hello World', 'http://helloworld.im' %>
		<p>Developer portfolio pages.</p>
	</section>

	<section class="dead">
		<%= link_to 'Grid', 'http://dribbble.com/alexbaldwin/projects/595-Grid' %>
		<p>Inbound call sales tracking.</p>
	</section>

	<section class="dead">
		<%= link_to 'Free Testbank', 'http://freetestbank.com' %>
		<p>College exam database.</p>
	</section>

</article>