%article.products
  %ul
    %li
      = link_to 'Hack Design', '//hackdesign.org'
      %p 72,000 students
    %li
      = link_to 'Latte', '//latteup.com'
      %p 300 chatters
    %li
      = link_to 'Cardless', '//cardlessapp.com'
      %p Coming soon
    %li
      = link_to 'Retina Mac Apps', '//retinamacapps.com'
      %p 3,200 referrals
    %li
      = link_to 'Dashboard.io', '//dashboard.io'
      %p 400 companies
    %li
      = link_to 'Console.fm', '//console.fm'
      %p 132,000 listeners
    %li
      = link_to 'Hello World', '//helloworld.im'
      %p 8,000 developers
    %li
      = link_to 'Free Testbank', '//freetestbank.com'
      %p 30,000 test scores improved
